
/*Base classes*/
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
.container {
	max-width:1112px;
    width: 100%;
    height: 57px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 38px;
    margin-left: 115px;
    position: relative;
}

.menu{
    display: flex;
}
.container li {
    padding: 55px;
}
.container ul li a {
    color: black;
    font-size: 15px;
    transition: .5s;
}
nav ul li a:hover{
    color: orangered;
    font-size: 22px;
   
}
.icon{
    width: 62px;
    margin-right: 400px;
    border-radius: 2ex;
    margin-left: 45px;
    transition:.5s;
}
.icon:hover{
    width: 90px;
    
}

/*start index.html */
.helo-div{
    width: 280px;
    height: 240px;
   display: inline-block;
    padding: 20px;
    margin-left: 136px;
    margin-right: 350px;
    position: absolute;
    top: 178px;
       
}  
.helo-div h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
.helo-div p {
    font-size: 20px;
}
.btn{
    border: 1px solid #3F3D56 ;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 38px;
    border-radius: 2ex;
    background-color:#3F3D56;
    color:#fff;

}
.image1{
    width: 920px;
    display: inline-block;
    margin-top: -400px;
    margin-left: 600px;
}
.flower1 {
    width: 90px;
    margin-left: -37px;
    position: absolute;
    margin-top: 300px;
    
}
.flower2 {
    width: 200px;
    margin-left: -120px;
    position: absolute;
    margin-top: 390px;
    
}


/* start about.html first section*/
.main-about{
    width: 1080px;
    height: 1080px;
    width: 100%;
    margin-left: 134px;
    margin-top: 100px;
    position: relative;
}
.child-about1{
    width: 1020px;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.img-strategy{
    width: 430px;
    margin-top: 30px;
    animation: girl;
    position: relative;
    animation: img-strategy 5s infinite;
    animation-timing-function: linear; 
}
.p{
    width:430px;
    height: 320px;
    margin-top: 80px;
    margin-left: 200px;
    position: relative;
    animation: p-strategy 5s infinite;
    animation-timing-function: linear; 
    font-size: 20px;
}
.p p {
    padding: 65px;
}
/* start about.html second section*/
.child-about2{
    width: 1030px;
    width: 100%;
    height: 391px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}