
/*Base classes*/
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
.container {
	max-width:1112px;
    width: 100%;
    height: 57px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 38px;
    margin-left: 115px;
    position: relative;
}

.menu{
    display: flex;
}
.container li {
    padding: 55px;
}
.container ul li a {
    color: black;
    font-size: 15px;
    transition: .5s;
}
nav ul li a:hover{
    color: orangered;
    font-size: 22px;
   
}
.icon{
    width: 62px;
    margin-right: 400px;
    border-radius: 2ex;
    margin-left: 45px;
    transition:.5s;
}
.icon:hover{
    width: 90px;
    
}

/*start first section*/
.helo-div{
    width: 280px;
    height: 240px;
   display: inline-block;
    padding: 20px;
    margin-left: 136px;
    margin-right: 350px;
    position: absolute;
    top: 178px;
       
}  
.helo-div h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
.helo-div p {
    font-size: 20px;
}
.btn{
    border: 1px solid #3F3D56 ;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 38px;
    border-radius: 2ex;
    background-color:#3F3D56;
    color:#fff;

}
.image1{
    width: 920px;
    display: inline-block;
    margin-top: -400px;
    margin-left: 600px;
}
.flower1 {
    width: 90px;
    margin-left: -37px;
    position: absolute;
    margin-top: 300px;
    
}
.flower2 {
    width: 200px;
    margin-left: -120px;
    position: absolute;
    margin-top: 390px;
    
}


/* start second section*/
.section2{
    width: 1080px;
    height: 1080px;
    width: 100%;
    margin-left: 134px;
    margin-top: 100px;
}
.childsection1{
    width: 1020px;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.childsection1 img {
    width: 430px;
    margin-right: 180px;
   
}
.section2 h1 {
    font-size: 30px;
    margin-left: 500px;
    margin-bottom: 57px;
    
}
.p, .p2{
    width: 450px;
    height: 150px;
    font-size: 18px;
}
.strategy,
.information,
.development{
    margin-bottom: 20px;
    font-size: 22px;
}
.childsection2{
    width: 1030px;
    height: 392px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 80px;
}
.childsection2 img{
    width: 470px;
    margin-top: 100px;
}
.p2{
    margin-left:111px;
    margin-right: 133px;
    margin-top: 50px;
}
.childsection3{
    width: 1080px;
    height: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 70px;

}
.childsection3 img {
    width: 443px;
    margin-top: 70px;
    margin-left: 134px;
    margin-right: 188px;
}
.p3{
    width: 450px;
    height: 160px;
    font-size: 18px;
   
}
/*start third section*/
.section3{
    width: 1007px;
    height: 1374px;
    margin-top: 130px;
    margin-left: 180px;
}
.section3 img {
    width: 475px;
    height: 531px;
    padding: 60px;
    
}
.section3 h1 {
    font-size: 30px;
    text-align: center;
}







/*start footer*/
